@import '../node_modules/basscss/css/basscss.css';
@import '../node_modules/react-soundplayer/styles/buttons.css';
@import '../node_modules/react-soundplayer/styles/icons.css';
@import '../node_modules/react-soundplayer/styles/progress.css';
@import '../node_modules/react-soundplayer/styles/volume.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
